body {
   padding-top: 50px;
}

.padding {
   padding: 20px 15px;
}

.geoschemas-title {
   float: left;
   padding: 15px 15px;
   font-size: 18px;
   line-height: 20px;
   color: #ffffff;
}

.geoschemas-title:hover {
   color:#ffffff;
   text-decoration: none;
}

table td, th {
  padding-left: 10px;
  vertical-align: top;
}

td:nth-child(1) {
  width: 230px;
}

td:nth-child(3) {
  width: 80px;
}

#mc_embed_signup .mc-field-group.input-group label {
  margin-left: 5px;  
}
